# Section 1: the Python you will need for this course

## Numerical processing

----
TBD: Discussion of the need for numerical processing

1. NumPy - foundational arrays and data structures
2. SciPy - numerical processing and algorithms
3. Pandas - data frames, columnar access, queries, time series data access
4. Matplotlib - visualization of data / results
5. Theano - arrays and fft library
6. Keras - a Neural Net library built on top of Theano
7. Pattern - a Natural Language processing library. Obsolete now, but great for learning

In [47]:
from IPython.display import display

----
NumPy - foundational arrays and data structures
TBD: Description of the Numpy package

In [ ]:
import numpy as np

In [19]:
print "Vector operations:"
a = np.array([1, 2, 3])
b = np.array([10, 20, 30])
print "a:", a
print "b:", b
print "a * 3:", a * 3
print "a + b:", a + b

Vector operations:
a: [1 2 3]
b: [10 20 30]
a * 3: [3 6 9]
a + b: [11 22 33]

In [40]:
print "Multidimentional arrays:"

a = np.array([
    [1, 10],
    [2, 20],
    [3, 30],
])
print "a:\n", a
print "a.shape:", a.shape
print

print "a[:, 0]:", a[:, 0]
print "a[:, 1]:", a[:, 1]
print "a[0, :]:", a[0, :]
print "a[0]:   ", a[0]
print

print "a.mean():", a.mean()
print "a.mean(axis=0):", a.mean(axis=0)
print "a.mean(axis=1):", a.mean(axis=1)

Multidimentional arrays:
a:
[[ 1 10]
 [ 2 20]
 [ 3 30]]
a.shape: (3, 2)

a[:, 0]: [1 2 3]
a[:, 1]: [10 20 30]
a[0, :]: [ 1 10]
a[0]:    [ 1 10]

a.mean(): 11.0
a.mean(axis=0): [  2.  20.]
a.mean(axis=1): [  5.5  11.   16.5]

----
SciPy - numerical processing and algorithms

----
Pandas - data frames, columnar access, queries, time series data access

In [74]:
import pandas as pd

df = pd.DataFrame({
    "handle": ["vladnikiporov", "wolever", "grahamtoppin"],
    "tweets": [28, 42328, 174],
    "following": [34, 647, 86],
})

df

   following         handle  tweets
0         34  vladnikiporov      28
1        647        wolever   42328
2         86   grahamtoppin     174

In [75]:
df.sort('tweets')

   following         handle  tweets
0         34  vladnikiporov      28
2         86   grahamtoppin     174
1        647        wolever   42328

In [64]:
# Indexing into a DataFrame returns the individual Series:
df['handle']

0    vladnikiporov
1          wolever
2     grahamtoppin
Name: handle, dtype: object

In [76]:
# DataFrames and Series can be treated (mostly) like a NumPy array
df["tweets"] / df["following"]

0     0.823529
1    65.421947
2     2.023256
dtype: float64

In [77]:
df["tweets_to_following"] = df["tweets"] / df["following"]
df

   following         handle  tweets  tweets_to_following
0         34  vladnikiporov      28             0.823529
1        647        wolever   42328            65.421947
2         86   grahamtoppin     174             2.023256

In [78]:
# The most powerful aspect of Pandas is the fact that data is _indexed_
tdf = df.set_index("handle")
tdf

               following  tweets  tweets_to_following
handle
vladnikiporov         34      28             0.823529
wolever              647   42328            65.421947
grahamtoppin          86     174             2.023256

In [79]:
# Notice that the tweet counts are now associated with the user's handle
tdf["tweets"]

handle
vladnikiporov       28
wolever          42328
grahamtoppin       174
Name: tweets, dtype: int64

In [80]:
print "Notice that the two indexes are identical:"
print "tdf.index:          ", tdf.index
print "tdf['tweets'].index:", tdf["tweets"].index

Notice that the two indexes are identical:
tdf.index:           Index([u'vladnikiporov', u'wolever', u'grahamtoppin'], dtype='object', name=u'handle')
tdf['tweets'].index: Index([u'vladnikiporov', u'wolever', u'grahamtoppin'], dtype='object', name=u'handle')

In [87]:
# DataFrames and series are automatically joined on their indexes
followers = pd.Series([1891, 8, 70], index=["wolever", "vladnikiporov", "grahamtoppin"], name="followers")
print "Notice that the ratios are correct even though the indecies are in a different order:"
followers / tdf["following"]

Notice that the ratios are correct even though the indecies are in a different order:

grahamtoppin     0.813953
vladnikiporov    0.235294
wolever          2.922720
dtype: float64

In [89]:
# And we can join the followers to the rest of the twitter handles
tdf.join(followers)

               following  tweets  tweets_to_following  followers
handle
vladnikiporov         34      28             0.823529          8
wolever              647   42328            65.421947       1891
grahamtoppin          86     174             2.023256         70

----
Matplotlib - visualization of data / results

----
Theano - arrays and fft library

----
Keras - a Neural Net library built on top of Theano

----
Pattern - a Natural Language processing library. Obsolete now, but great for learning

----
Gensim - extracting topics

----
NLTK / Pattern - detecting simple sentiment

----
NLTK / Pattern - Showing the structure of a sentence